.card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.card .content h2{
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    background: transparent;
}

.card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    background: transparent;
    margin-top: 100px;
}

.card .content p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    background: transparent;
    margin-top: 15px;
}

.card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 90px;
    background: #fff;
    color: #000;
    border-radius:20px ;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.2);
}

/* ....................panel........................ */




.panel-father{
    position: absolute;  
    border-radius: 5px;
    top: 24%;
    right: 26%;
    /* for button */
}
.panels-container{
    height: 100vh;
    width: 100vw;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.panel{
    height: 350px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    /* opacity: 1; */
    transition: opacity 1s;
}

.panel-hide{
    opacity: 0;
    /* display: none; */

}

.snapshot1{  
    width: 60%;
    height: 100%;
    background-image: url("img/exchange-site.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.snapshot2{  
    width: 60%;
    height: 100%;
    background-image: url("img/movie-site.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.snapshot3{  
    width: 60%;
    height: 100%;
    background-image: url("img/random-people.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
.snapshot3{  
    width: 60%;
    height: 100%;
    background-image: url("img/random-people.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.project-detail{
    height: 100%;
    width: 38%;
    margin-left: 2%;
}

.project-detail .project-title{
    margin-top: 30px;
    color: white;
}

.project-detail ul{
    list-style: none;
    margin-top: 10px;
    height: auto;
    
}

.project-detail ul li{
    display: inline-block;
    border: 1px solid #151516;
    padding:1px 4px;
    margin: 0 2px;
    color: #94a4b4;
    box-shadow:2px 3px 10px rgba(0, 0, 0,0.2);
    font-size: 0.8em;
}


.project-detail .about{
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #94a4b4;
}

.project-detail .project-desc{
    overflow-y: scroll;
    height: 38%;
    margin-bottom: 30px;
    color: #94a4b4;
}






.panel .exit-btn{
position: absolute;
top: 1%;
right: 2%;
color: #94a4b4;
border: none;
cursor: pointer;
}

.panel .project-detail a{
    padding: 2px 13px;
    color: black;
    background: silver; 
    transition: background 0.2s;
}
.panel .project-detail a:hover{
    background: white;
}


.blur{
    filter: blur(5px); 
    transition: filter 1s;
}



@media(max-width:768px){
    .panel{
        width: 350px;
        height: 500px;
        flex-direction: column;
    }
    .snapshot1,.snapshot2 , .snapshot3 ,.snapshot4{
        width: 100%;
        height: 200px;
    }
    .panel .exit-btn{
        right: 0;
        top: 0;
    }

    .project-detail .project-title{
        text-align: center;
    }
    
    .project-detail{
        height: 50%;
        width: 100%;
        text-align: center;
    }
    .project-detail .project-desc{
        margin: 0;
        margin-bottom: 20px;
    }
    .project-detail a{
        margin-right: 10px;
    }
}


/* eddit scroll bar */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  </style>